.produto-box{

   border: 3px solid #E9E9E9;
   border-radius: 18px;
   max-width: 250px;
   
   padding: 10px 10px 10px 10px;
   display: inline-block;
   margin: 30px;
}

.prod-vitrine-descricao{
   color: #ACACAC;    
   font-size: 1rem; 
}

.prod-vitrine-preco{
   color: #E84F3D;    
   font-size: 1.4rem; 
   font-weight: bold;
   line-height: 1rem;
}
.btn-cart2{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
	margin-inline: auto;
	border: 2px solid #E9E9E9;
	border-radius: 12px;
	padding: 5px 12px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.btn-cart2:hover{
	background-color: #E84F3D;
	color: #fff;
}

@media screen and (max-width: 511px) {
	.produto-box {
		width: 90%; 
		max-width: none;
		display: flex;
		align-items: center;
		padding: 5px 5px 10px 5px;
		margin: 15px auto;
	}

	.img {
		width: 120px;
		height: 120px;
	}
	
	.prod-vitrine-titulo {
		font-size: 1.25rem;
	}
	.prod-vitrine-descricao {
		font-size: 0.885rem;
	}

	.btn-add {
		display: none;
	}
	.btn-cart2{
		background-color: #fff;
		border: 3px solid #E9E9E9;  
		width: 60px; 
		height: 60px;  
		border-radius: 15px;
		margin-right: 5px;
		margin-left: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer; 
	}
	.icon2 {
		margin-top: -3px;
		width: 30px;
		height: auto;
		
	}
}