.produto-cart-box{
	border: 1px solid #E9E9E9;
	padding: 10px 5px;  
	display: flex;  
	margin: 10px;
  padding: 10px 0;
	border-bottom: 1px solid #E9E9E9; /* Linha divisória */
}

.produto-cart-box img{
   width: 100px;
   height: 100px;
   margin-right: 13px;
   
}
.produto-cart-img {
   display: flex;
   align-items: center;
}

.produto-cart-nome{
   margin: 10px 3px 3px 0px;
   font-weight: 600;
}

.produto-cart-valor{
   color: #929292;
   font-size: 0.9rem;
   margin: 0px 3px 10px 0px;
}

.footer-produto-cart{
   display: flex;
   justify-content: space-between;   
}

.footer-produto-card-controls {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.footer-produto-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-produto-btn:hover {
  background-color: #e0e0e0;
}

.footer-produto-qtd{
   margin-left: 10px;
   margin-right: 10px;
}

.footer-produto-preco{
	width: 100px;
	font-size: 1rem;
	line-height: 1rem; 
	font-weight: bold;
	display: inline-block;
	color: #E84F3D;  
}